{% extends "ifa_base.html" %}
{% block title %} - Home{% endblock %}

{% block content %}
<div class="row">
    <div class="tabbable">
        <div class="col-md-3">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#asthma" data-toggle="tab">What is Asthma</a></li>
                <li><a href="#cause" data-toggle="tab">Cause</a></li>
                <li><a href="#symptoms" data-toggle="tab">Signs and Symptoms</a></li>
                <li><a href="#risks" data-toggle="tab">Risk Factors Involved with Ashtma</a></li>
                <li><a href="#allergy" data-toggle="tab">Allergy and Asthma</a></li>
                <li><a href="#allergens" data-toggle="tab">Common Allergens</a></li>
                <li><a href="#epidemiology" data-toggle="tab">Epidemiology</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="asthma">
                    <h2>What Is Asthma?</h2>
                    <p> Asthma (AZ-ma) is a chronic (long-term) lung disease that inflames and narrows the airways.
                        Asthma causes recurring periods of wheezing (a whistling sound when you breathe), chest tightness,
                        shortness of breath, and coughing. The coughing often occurs at night or early in the morning.</p>
                    <p> Asthma affects people of all ages, but it most often starts during childhood.
                        In the United States, more than 25 million people are known to have asthma.
                        About 7 million of these people are children. </p>

                    <h3>Overview</h3>

                    <p>To understand asthma, it helps to know how the airways work. The airways are tubes that carry
                        air into and out of your lungs. People who have asthma have inflamed airways. The inflammation
                        makes the airways swollen and very sensitive. The airways tend to react strongly to certain
                        inhaled substances.</p>

                    <p>When the airways react, the muscles around them tighten. This narrows the airways, causing less
                        air to flow into the lungs. The swelling also can worsen, making the airways even narrower.
                        Cells in the airways might make more mucus than usual. Mucus is a sticky, thick liquid that can
                        further narrow the airways.</p>

                    <p>This chain reaction can result in asthma symptoms. Symptoms can happen each time the airways
                        are inflamed.</p>
                </div>
                <div class="tab-pane fade in" id="cause">
                    <h2>What Causes Asthma?</h2>

                    <p>The exact cause of asthma isn't known. Researchers think some genetic and environmental factors
                       interact to cause asthma, most often early in life. These factors include:</p>

                    <li>An inherited tendency to develop allergies, called atopy (AT-o-pe)</li>
                    <li>Parents who have asthma</li>
                    <li>Certain respiratory infections during childhood</li>
                    <li>Contact with some airborne allergens or exposure to some viral infections in infancy or in
                        early childhood when the immune system is developing</li>
                    <li>If asthma or atopy runs in your family, exposure to irritants (for example, tobacco smoke)
                        may make your airways more reactive to substances in the air.</li>

                    <p>Some factors may be more likely to cause asthma in some people than in others.
                        Researchers continue to explore what causes asthma.</p>

                    <h3>The "Hygiene Hypothesis"</h3>

                    <p>One theory researchers have for what causes asthma is the "hygiene hypothesis."
                        They believe that our Western lifestyle—with its emphasis on hygiene and sanitation—has
                        resulted in changes in our living conditions and an overall decline in infections in
                        early childhood.</p>

                    <p>Many young children no longer have the same types of environmental exposures and infections as
                       children did in the past. This affects the way that young children's immune systems develop
                        during very early childhood, and it may increase their risk for atopy and asthma.
                        This is especially true for children who have close family members with one or both of
                        these conditions.</p>
                </div>
                <div class="tab-pane fade in" id="symptoms">
                    <h2>What Are the Signs and Symptoms of Asthma?</h2>

                    <p>Common signs and symptoms of asthma include:</p>

                    <li>Coughing. Coughing from asthma often is worse at night or early in the morning,
                        making it hard to sleep.</li>
                    <li>Wheezing. Wheezing is a whistling or squeaky sound that occurs when you breathe.</li>
                    <li>Chest tightness. This may feel like something is squeezing or sitting on your chest.</li>
                    <li>Shortness of breath. Some people who have asthma say they can't catch their breath
                        or they feel out of breath. You may feel like you can't get air out of your lungs.</li>
                    <li>Not all people who have asthma have these symptoms. Likewise, having these symptoms
                        doesn't always mean that you have asthma. The best way to diagnose asthma for certain
                        is to use a lung function test, a medical history (including type and frequency of symptoms),
                        and a physical exam.</li>

                    <p>The types of asthma symptoms you have, how often they occur, and how severe they are may
                        vary over time. Sometimes your symptoms may just annoy you. Other times, they may be
                        troublesome enough to limit your daily routine.</p>

                    <p>Severe symptoms can be fatal. It's important to treat symptoms when you first notice them so they
                        don't become severe.</p>

                    <p>With proper treatment, most people who have asthma can expect to have few, if any, symptoms either
                        during the day or at night.</p>

                    <h3>What Causes Asthma Symptoms To Occur?</h3>

                    <p>Many things can trigger or worsen asthma symptoms. Your doctor will help you find out
                        which things (sometimes called triggers) may cause your asthma to flare up if you come in contact
                        with them. Triggers may include:</p>

                    <li>Allergens from dust, animal fur, cockroaches, mold, and pollens from trees, grasses,
                        and flowers</li>
                    <li>Irritants such as cigarette smoke, air pollution, chemicals or dust in the workplace,
                        compounds in home décor products, and sprays (such as hairspray)</li>
                    <li>Medicines such as aspirin or other nonsteroidal anti-inflammatory drugs and
                        nonselective beta-blockers</li>
                    <li>Sulfites in foods and drinks</li>
                    <li>Viral upper respiratory infections, such as colds</li>
                    <li>Physical activity, including exercise</li>

                    <p>Other health conditions can make asthma harder to manage. Examples of these conditions include
                        a runny nose, sinus infections, reflux disease, psychological stress, and sleep apnea.
                        These conditions need treatment as part of an overall asthma care plan.</p>

                    <p>Asthma is different for each person. Some of the triggers listed above may not affect you.
                       Other triggers that do affect you may not be on the list. Talk with your doctor about the things
                       that seem to make your asthma worse.</p>
                </div>
                <div class="tab-pane fade in" id="risks">
                </div>
                <div class="tab-pane fade in" id="allergy">
                </div>
                <div class="tab-pane fade in" id="allergens">
                </div>
                <div class="tab-pane fade i active" id="epidemiology">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
